          <!-- bottom footer -->
          <div class="content-footer">
            <nav class="footer-right">
              <ul class="nav">
                <li>
                  <a href="/app/feedback">Feedback</a>
                </li>
              </ul>
            </nav>
            <nav class="footer-left">
              <ul class="nav">
                <li>
                  <a href="javascript:;">
                    <span>Copyright</span>
                    &copy; 2020 Cirrus Solar Inc
                  </a>
                </li>
                <li class="hidden-md-down">
                  <a href="/app/privacy">Privacy</a>
                </li>
                <li class="hidden-md-down">
                  <a href="/app/terms">Terms</a>
                </li>
                <li class="hidden-md-down">
                  <a href="/app/help">Help</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- /bottom footer -->