
      <!--sidebar panel-->
      <div class="off-canvas-overlay" data-toggle="sidebar"></div>
      <div class="sidebar-panel">
        <div class="brand">
          <!-- toggle offscreen menu -->
          <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen hidden-lg-up">
            <i class="material-icons">menu</i>
          </a>
          <!-- /toggle offscreen menu -->
          <!-- logo -->
          <a class="brand-logo" href="/app">
            <img class="expanding-hidden" src="/resources/app/images/learnalogy_logo.png" alt="" style="max-height:50px;"/>
          </a>
          <!-- /logo -->
        </div>
        <div class="nav-profile dropdown">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <div class="user-image">
              <img src="/resources/app/images/avatar.jpg" class="avatar img-circle" alt="user" title="user"/>
            </div>
            <div class="user-info expanding-hidden">
              Darren Smith
              <small class="bold">Administrator</small>
            </div>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/app/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/app/help">Help</a>
            <a class="dropdown-item" href="/app/identity/sign-out">Sign Out</a>
          </div>
        </div>
        <!-- main navigation -->
        <nav>
          <p class="nav-title">NAVIGATION</p>
          <ul class="nav">
            <!-- dashboard -->
            <li>
              <a href="/app">
                <i class="material-icons text-primary">home</i>
                <span>Dashboard</span>
              </a>
            </li>
            <!-- /dashboard -->
            <!-- apps -->
            <li>
              <a href="javascript:;">
                <span class="menu-caret">
                  <i class="material-icons">arrow_drop_down</i>
                </span>
                <i class="material-icons text-success">font_download</i>
                <span>Tests & Questionairres</span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="/app/tests/psyc">
                    <span>Psyc Tests</span>
                  </a>
                </li>
                <li>
                  <a href="/app/tests/situational">
                    <span>Situational Questionairres</span>
                  </a>
                </li>
                <li>
                  <a href="/app/tests/demographic">
                    <span>Demographic Questionairres</span>
                  </a>
                </li>
              </ul>
            </li>
            <!-- /apps -->
            <!-- ui -->
            <li>
              <a href="javascript:;">
                <span class="menu-caret">
                  <i class="material-icons">arrow_drop_down</i>
                </span>
                <i class="material-icons text-danger">explore</i>
                <span>Courses</span>
              </a>
              <ul class="sub-menu">
                <!-- cards -->
                <li>
                  <a href="/app/courses/all">
                    <span>All Courses</span>
                  </a>
                </li>
                <li>
                  <a href="/app/courses/arts">
                    <span>Arts</span>
                  </a>
                </li>
                <li>
                  <a href="/app/courses/humanities">
                    <span>Humanities</span>
                  </a>
                </li>
                <li>
                  <a href="/app/courses/medicine">
                    <span>Medicine</span>
                  </a>
                </li>
                <li>
                  <a href="/app/courses/sciences">
                    <span>Sciences</span>
                  </a>
                </li>
                <li>
                  <a href="/app/courses/social-sciences">
                    <span>Social Sciences</span>
                  </a>
                </li>
                <li>
                  <a href="/app/courses/technology">
                    <span>Technology</span>
                  </a>
                </li>
                <!-- /cards -->
              </ul>
            </li>
            <li>
              <a href="javascript:;">
                <span class="menu-caret">
                  <i class="material-icons">arrow_drop_down</i>
                </span>
                <i class="material-icons text-success">explore</i>
                <span>Analytics &amp; Reporting</span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="/app/analytics/compare">
                    <span>Compare Me</span>
                  </a>
                </li>
                <li>
                  <a href="/app/analytics/reporting">
                    <span>Platform Reporting</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:;">
                <span class="menu-caret">
                  <i class="material-icons">arrow_drop_down</i>
                </span>
                <i class="material-icons text-danger">explore</i>
                <span>Administration</span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="/app/admin/settings">
                    <span>Administration Settings</span>
                  </a>
                </li>
                <li>
                  <a href="/app/admin/newsletter">
                    <span>Newsletter Management</span>
                  </a>
                </li>
                <li>
                  <a href="/app/admin/tests">
                    <span>Test Management</span>
                  </a>
                </li>
                <li>
                  <a href="/app/admin/courses">
                    <span>Course Management</span>
                  </a>
                </li>
                <li>
                  <a href="/app/admin/users">
                    <span>User Management</span>
                  </a>
                </li>
                <li>
                  <a href="/app/admin/roles">
                    <span>Role Management</span>
                  </a>
                </li>
                <li>
                  <a href="/app/admin/content">
                    <span>Content Management</span>
                  </a>
                </li>
              </ul>
            </li>
            <!-- /ui -->
          </ul>
        </nav>
        <!-- /main navigation -->
      </div>
      <!-- /sidebar panel -->