
      <!--sidebar panel-->
      <div class="off-canvas-overlay" data-toggle="sidebar"></div>
      <div class="sidebar-panel">
        <div class="brand">
          <!-- toggle offscreen menu -->
          <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen hidden-lg-up">
            <i class="material-icons">menu</i>
          </a>
          <!-- /toggle offscreen menu -->
          <!-- logo -->
          <a class="brand-logo" href="/app">
            <img class="expanding-hidden" src="/resources/app/images/learnalogy_logo.png" alt="" style="max-height:50px;"/>
          </a>
          <!-- /logo -->
        </div>
        <div class="nav-profile dropdown">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <div class="user-image">
              <img src="/resources/app/images/avatar.jpg" class="avatar img-circle" alt="user" title="user"/>
            </div>
            <div class="user-info expanding-hidden">
              Darren Smith
              <small class="bold">Administrator</small>
            </div>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/app/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/app/help">Help</a>
            <a class="dropdown-item" href="/app/identity/sign-out">Sign Out</a>
          </div>
        </div>
        <!-- main navigation -->
        <nav>
          <p class="nav-title">NAVIGATION</p>
          <ul class="nav">
            <!-- dashboard -->
            <li>
              <a href="/app">
                <i class="material-icons text-primary">home</i>
                <span>Dashboard</span>
              </a>
            </li>
            <!-- /dashboard -->

            <li>
              <a href="javascript:;">
                <span class="menu-caret">
                  <i class="material-icons">arrow_drop_down</i>
                </span>
                <i class="material-icons text-danger">explore</i>
                <span>Administration</span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="/app/admin">
                    <span>Administration Settings</span>
                  </a>
                </li>
                <li>
                  <a href="/app/admin/users">
                    <span>User Management</span>
                  </a>
                </li>
              </ul>
            </li>
            <!-- /ui -->

          </ul>
        </nav>
        <!-- /main navigation -->
      </div>
      <!-- /sidebar panel -->