<!doctype html>
<html lang="en">
  <head>

    {{> app/meta}}
    <title>Client Dashboard | Cirrus Solar</title>
    {{> app/stylesheets}}

  </head>
  <body>

    <div class="app">

      {{> app/sidebar}}

      <!-- content panel -->
      <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
          <div class="header-inner">
            {{> app/logo}}
            <a class="navbar-item navbar-spacer-right navbar-heading hidden-md-down" href="#">
              <span>Dashboard</span>
            </a>
            <div class="navbar-search navbar-item">
              <form class="search-form">
                <i class="material-icons">search</i>
                <input class="form-control" type="text" placeholder="Search" />
              </form>
            </div>
            <div class="navbar-item nav navbar-nav">
              {{> app/language-dropdown}}
              {{> app/notifications-dropdown}}
              <a href="javascript:;" class="nav-item nav-link nav-link-icon" data-toggle="modal" data-target=".chat-panel" data-backdrop="false">
                <i class="material-icons">chat_bubble</i>
              </a>
            </div>
          </div>
        </nav>
        <!-- /top header -->

        <!-- main area -->
        <div class="main-content">
          <div class="content-view">
            <div class="card">
              <div class="card-block">
                <div class="m-b-1">
                  <h6>Client Dashboard</h6>
                </div>
                <div>
                  Solar Panel Voltage: <span id="currentVoltage">{{voltage}}</span>
                </div>
                <canvas id="myChart"></canvas>
              </div>
            </div>
          </div>
          {{> app/footer}}
        </div>
        <!-- /main area -->
      </div>
      <!-- /content panel -->

      <!--Chat panel-->
      {{> app/chat-panel}}
      {{> app/chat-message}}
      <!--/Chat panel-->

    </div>

    {{> app/javascript}}

    <script>

      var i = 0;

      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [ "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16",
                      "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33"
            ],
            datasets: [{
                label: 'Solar Panel Voltage',
                data: [],
                fill: false,
                borderColor: "rgb(75, 192, 192)",
                lineTension: 0.1
            }]
        },
        options: {}
    });

    setInterval(function() {
      $.get( "/api/solar", function( data ) {
        $("#currentVoltage").html(data.voltage);
        if(i >= 30) {
          myChart.reset();
          myChart.update();
          for (var j = 0; j <= i; j++) {
            myChart.data.datasets[0].data[j] = 0;
          }
          i = 0;
        }
        myChart.data.datasets[0].data[i] = data.voltage;
        myChart.update();
        i++;
      });
    }, 1000);

    </script>

  </body>
</html>
