<!doctype html>
<html class="no-js" lang="en">

<head>
    {{> home/meta}}
    <title>Cirrus Solar Inc | Solar & Renewable Solutions</title>
    {{> home/styles}}
</head>

<body>

    {{> home/header}}

    <!--Hero Section-->
    <div class="co-hero-section-1 section">
        
        <!--Creative 1 Hero Slider-->
        <div class="co-hero-slider-1 hero-slider">
            <!--Hero Slide Item-->
            <div class="co-hero-slide-item-1" style="background-image: url('resources/home/img/corporate/hero/1.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <!--Hero Slide Content-->
                            <div class="co-hero-slide-content-1">
                                <h4>Welcome to Cirrus Solar Inc</h4>
                                <h1>Your Solar & Renewable Specialist</h1>
                                <a href="#mce-EMAIL" class="btn btn-white btn-lg btn-hover-gradient">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Hero Slide Item-->
            <div class="co-hero-slide-item-1" style="background-image: url('resources/home/img/corporate/hero/2.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <!--Hero Slide Content-->
                            <div class="co-hero-slide-content-1">
                                <h4>Check Out Our Great Deals</h4>
                                <h1>Special deals for new residential customers</h1>
                                <a href="#mce-EMAIL" class="btn btn-white btn-lg btn-hover-gradient">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Service Section-->
    <div class="co-service-section-1 section">
        <!--Service Wrapper-->
        <div class="co-service-wrapper-1">
            <!--Single Service-->
            <div class="co-single-service-1 col-md-4 text-center">
                <i class="icon-megaphone"></i>
                <h3>Research</h3>
                <p>To be confirmed...</p>
            </div>
            <!--Single Service-->
            <div class="co-single-service-1 col-md-4 text-center">
                <i class="icon-tools"></i>
                <h3>Commercial</h3>
                <p>To be confirmed...</p>
            </div>
            <!--Single Service-->
            <div class="co-single-service-1 col-md-4 text-center">
                <i class="icon-circle-compass"></i>
                <h3>Residential</h3>
                <p>To be confirmed...</p>
            </div>
        </div>
    </div>

    <!--About Section-->
    <div class="co-about-section-1 section pt-140 pb-100">
        <div class="container">
            
            <div class="row">
                <!--About Image-->
                <div class="col-md-6 col-xs-12 float-right mb-40">
                    
                    <div class="co-about-image-1">
                        <img src="resources/home/img/corporate/about/1.jpg" alt="">
                    </div>
                    
                </div>
                <!--About Content-->
                <div class="col-md-6 col-xs-12 mb-40">
                    
                    <div class="co-about-content-1">
                        <h1>About Cirrus Solar Inc</h1>
                        <p>To be confirmed.</p>
                        <p>To be confirmed.</p>
                        <a href="#mce-EMAIL" class="btn btn-hover-gradient">Learn More</a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>

    <!--Mission Section-->
    <div class="co-mission-section-1 section pt-140 pb-140">
        <img src="resources/home/img/corporate/about/mission.png" alt="">
        <div class="container">
            <div class="row">
                <div class="co-mission-wrapper-1 col-md-7 col-md-offset-5 col-xs-12">
                   
                    <!--Creative 1 Tab List-->
                    <ul class="co-tab-list-1 tab-three">
                        <li class="active"><a href="#what-we-do" data-toggle="tab">Research</a></li>
                        <li><a href="#our-mission" data-toggle="tab">Commercial</a></li>
                        <li><a href="#our-vission" data-toggle="tab">Residential</a></li>
                    </ul>
                   
                    <!--Creative 1 Tab Content-->
                    <div class="co-tab-content-1 tab-content">
                        <div role="tabpanel" class="co-tab-pane-1 tab-pane fade in active" id="what-we-do">
                            <p>Complete psyc tests and demographic/situational questionairres to help us build a rich user profile that represents you as an individual.</p>
                        </div>
                        <div role="tabpanel" class="co-tab-pane-1 tab-pane fade" id="our-mission">
                            <p>Compare the results of your tests (and profile) with those of others on the platform. Discover where you fall short and have room to improve, as well as where you excel.</p>
                        </div>
                        <div role="tabpanel" class="co-tab-pane-1 tab-pane fade" id="our-vission">
                            <p>Once you have completed the tests and compared yourself to others on the platform, you can begin to enroll in and undertake courses - where each has been tailored to your specific user profile, background, learning style and experiences.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!--CTA Section-->
    <div class="co-cta-section-1 section bg-gradient pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                    <!--CTA Wrapper-->
                    <div class="co-cta-wrapper-1 fix">
                        <h3>Do you like the sound of this? Then...</h3>
                        <a href="#mce-EMAIL" class="btn btn-white">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> home/footer}}
    {{> home/copyright}}
    {{> home/javascript}}

</body>

</html>