<div class="co-footer-bottom-1 section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="co-copyright-1 text-center">
                    <p>Copyright &copy; 2020 <a href="http://cirrus-solar.heroku.darrensmith.com.au/">Cirrus Solar Inc</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>