<!--Header Section-->
<div class="header-section section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!--Logo-->
                <div class="float-left">
                    <a href="/" class="header-logo"><img src="resources/home/img/logo/learnalogy_logo.png" style="max-height: 50px;" alt=""></a>
                </div>
                <!--Menu-->
                <div class="float-right">
                    <nav class="main-menu multi-page-menu text-black">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                        </ul>
                    </nav>
                    <a href="/app/identity/sign-in" class="btn btn-border-gradient  btn-hover-gradient">Sign In</a>
                </div>
                <!--Mobile Menu-->
                <div class="mobile-menu multi-page text-black"></div>
            </div>
        </div>
    </div>
</div>