<script src="resources/home/js/vendor/jquery-3.1.1.min.js"></script>
<script src="resources/home/js/bootstrap.min.js"></script>
<script src="resources/home/js/plugins.js"></script>
<script src="resources/home/js/ajax-mail.js"></script>
<script src="resources/home/js/main.js"></script>