    <link rel="stylesheet" href="resources/home/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/home/css/font-awesome.min.css">
    <link rel="stylesheet" href="resources/home/css/ionicons.min.css">
    <link rel="stylesheet" href="resources/home/css/et-line.css">
    <link rel="stylesheet" href="resources/home/css/plugins.css">
    <link rel="stylesheet" href="resources/home/style.css">
    <link rel="stylesheet" href="resources/home/css/responsive.css">
    <script src="resources/home/js/vendor/modernizr-2.8.3.min.js"></script>