<!doctype html>
<html lang="en">
  <head>

    {{> app/meta}}
    <title>Newsletter Subscriber | Learnalogy</title>
    {{> app/stylesheets}}

  </head>
  <body>

    <div class="app">

      {{> app/sidebar}}

      <!-- content panel -->
      <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
          <div class="header-inner">
            {{> app/logo}}
            <a class="navbar-item navbar-spacer-right navbar-heading hidden-md-down" href="#">
              <span>Dashboard</span>
            </a>
            <div class="navbar-search navbar-item">
              <form class="search-form">
                <i class="material-icons">search</i>
                <input class="form-control" type="text" placeholder="Search" />
              </form>
            </div>
            <div class="navbar-item nav navbar-nav">
              {{> app/language-dropdown}}
              {{> app/notifications-dropdown}}
              <a href="javascript:;" class="nav-item nav-link nav-link-icon" data-toggle="modal" data-target=".chat-panel" data-backdrop="false">
                <i class="material-icons">chat_bubble</i>
              </a>
            </div>
          </div>
        </nav>
        <!-- /top header -->

        <!-- main area -->
        <div class="main-content">
          <div class="content-view">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                  <h5 class="m-b-0 v-align-middle text-overflow">
                    <span class="small pull-xs-right">
                      <i class="material-icons text-success" style="width: 16px;">arrow_drop_up</i>
                      <span style="line-height: 24px;">+20%</span>
                    </span>
                    <span>8</span>
                  </h5>
                  <div class="small text-overflow text-muted">
                    Psyc Tests<br/>Completed
                  </div>
                  <div class="small text-overflow">
                    Updated:&nbsp;<span>05:35 AM</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                  <h5 class="m-b-0 v-align-middle text-overflow">
                    <span class="small pull-xs-right">
                      <i class="material-icons text-success" style="width: 16px;">arrow_drop_up</i>
                      <span style="line-height: 24px;">+20%</span>
                    </span>
                    <span>12</span>
                  </h5>
                  <div class="small text-overflow text-muted">
                    Situational Tests<br/>Completed
                  </div>
                  <div class="small text-overflow">
                    Updated:&nbsp;<span>12:42 PM</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                  <h5 class="m-b-0 v-align-middle text-overflow">
                    <span class="small pull-xs-right">
                      <i class="material-icons text-success" style="width: 16px;">arrow_drop_up</i>
                      <span style="line-height: 24px;">+20%</span>
                    </span>
                    <span>9</span>
                  </h5>
                  <div class="small text-overflow text-muted">
                    Demographic Tests<br/>Completed
                  </div>
                  <div class="small text-overflow">
                    Updated:&nbsp;<span>09:26 AM</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                  <h5 class="m-b-0 v-align-middle text-overflow">
                    <span class="small pull-xs-right">
                      <i class="material-icons text-success" style="width: 16px;">arrow_drop_up</i>
                      <span style="line-height: 24px;">+5%</span>
                    </span>
                    <span>2</span>
                  </h5>
                  <div class="small text-overflow text-muted">
                    Courses<br/>In Progress
                  </div>
                  <div class="small text-overflow">
                    Updated:&nbsp;<span>09:26 AM</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                  <h5 class="m-b-0 v-align-middle text-overflow">
                    <span class="small pull-xs-right">
                      <i class="material-icons text-success" style="width: 16px;">arrow_drop_up</i>
                      <span style="line-height: 24px;">+10%</span>
                    </span>
                    <span>5</span>
                  </h5>
                  <div class="small text-overflow text-muted">
                    Courses<br/>Completed
                  </div>
                  <div class="small text-overflow">
                    Updated:&nbsp;<span>09:26 AM</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                  <h5 class="m-b-0 v-align-middle text-overflow">
                    <span>7.5</span>
                  </h5>
                  <div class="small text-overflow text-muted">
                    <strong>Learning Score<br/>&nbsp;</strong>
                  </div>
                  <div class="small text-overflow">
                    Updated:&nbsp;<span>09:26 AM</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <div class="m-b-1">
                  <div class="dropdown pull-right">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                      <span>
                        Period
                      </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="#">
                        Today
                      </a>
                      <a class="dropdown-item" href="#">
                        This week
                      </a>
                      <a class="dropdown-item" href="#">
                        This month
                      </a>
                      <a class="dropdown-item" href="#">
                        This year
                      </a>
                    </div>
                  </div>
                  <h6>
                    Activity
                  </h6>
                </div>
                <div class="dashboard-line chart" style="height:300px"></div>
                <div class="row text-xs-center m-t-1">
                  <div class="col-sm-3 col-xs-6 p-t-1 p-b-1">
                    <h6 class="m-t-0 m-b-0">
                      $ 89.34
                    </h6>
                    <small class="text-muted bold block">
                      Daily Sales
                    </small>
                  </div>
                  <div class="col-sm-3 col-xs-6 p-t-1 p-b-1">
                    <h6 class="m-t-0 m-b-0">
                      $ 498.00
                    </h6>
                    <small class="text-muted bold block">
                      Weekly Sales
                    </small>
                  </div>
                  <div class="col-sm-3 col-xs-6 p-t-1 p-b-1">
                    <h6 class="m-t-0 m-b-0">
                      $ 34,903
                    </h6>
                    <small class="text-muted bold block">
                      Monthly Sales
                    </small>
                  </div>
                  <div class="col-sm-3 col-xs-6 p-t-1 p-b-1">
                    <h6 class="m-t-0 m-b-0">
                      $ 98,343.49
                    </h6>
                    <small class="text-muted bold block">
                      Yearly Sales
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{> app/footer}}
        </div>
        <!-- /main area -->
      </div>
      <!-- /content panel -->

      <!--Chat panel-->
      {{> app/chat-panel}}
      {{> app/chat-message}}
      <!--/Chat panel-->

    </div>

    {{> app/javascript}}
    
  </body>
</html>
